body {
    background-color: rgb(249, 246, 239);
  }

  h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }

  h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 46, 18);
    }

    h3{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(71, 46, 18);
      }

      h4{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(71, 46, 18);
        }

  p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 46, 18);
    font-size: 14px;
    padding: 10px;
  }

  div{
    padding: 20px;
  }

  ul{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 46, 18);
    font-size: 14px;
  }

  ol{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 46, 18);
    font-size: 14px;
  }

  header {
    background-color: rgb(214, 216, 255);
    color:rgb(31, 55, 76);
    padding: 15px;
    border: 3px solid rgb(83, 114, 139);
    font-size: 20px;
  }

  button {
    background-color: rgb(255, 245, 214); 
    border: 3px solid rgb(83, 69, 55);
    color: rgb(71, 46, 18);
    padding: 10px 25px;
    text-align: center;
    font-size: 14px;
    transition-duration: 0.4s;
  }
  button:hover {
    background-color: rgb(207, 193, 160);
    color: rgb(71, 46, 18);
  }

  aside {
    float: right;
    width: 30%;
    background: rgb(239, 221, 200);
    padding: 20px;
  }

  th, td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;
  }
  
